<div class="flex flex-wrap" id="<%= dom_id property %>">

  <div class="basis-2/3">
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <a href="<%= property.link %>"><%= property.title %></a>
    </p>
  </div>
  <div class="basis-1/3">
    <p class="my-5">
      <strong class="block font-medium mb-1">Price:</strong>
      <%= property.initial_price %>
    </p>
  </div>

  <div class="basis-2/5">
    <p class="my-5">
      <strong class="block font-medium mb-1">Address:</strong>
      <%= property.address %>,
      <%= property.city %>,
      <%= property.postal_code %>
    </p>
  </div>

  <div class="basis-1/5">
    <p class="my-5">
      <strong class="block font-medium mb-1">Meters:</strong>
      <%= property.meters %>
    </p>
  </div>

  <div class="basis-1/5">
    <p class="my-5">
      <strong class="block font-medium mb-1">Bedrooms:</strong>
      <%= property.bedrooms %>
    </p>
  </div>

  <div class="basis-1/5">
    <p class="my-5">
      <strong class="block font-medium mb-1">Bathrooms:</strong>
      <%= property.bathrooms %>
    </p>
  </div>

  <div class="basis-2/2">
    <p class="my-5">
      <strong class="block font-medium mb-1">Comments:</strong>
      <%= property.comments %>
    </p>
  </div>
</div>
<div class="basis-1">
  <p class="my-5">
    <strong class="block font-medium mb-1">Records:</strong>
  </p>

  <div class="overflow-x-auto">
    <table id="Properties" class="table">
      <thead>
      <tr>
        <th>Comment</th>
        <th>Price updated</th>
      </tr>
      </thead>
      <tbody>
      <% property.records.each do |record| %>
        <%= render record %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% if action_name != "show" %>
      <%= link_to "Show this property", property, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this property', edit_property_path(property), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  </div>
</div>