<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Records</h1>
  </div>

  <div class="overflow-x-auto">
    <table id="Properties" class="table">
      <thead>
      <tr>
        <th>Comment</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <% @records.each do |record| %>
        <tr>
          <td>
            <%= record.property_id%>
          </td>
          <td>
            <div class="flex items-center space-x-3">
                <%= record.comment%>
            </div>
          </td>
          <td>
            <%= number_to_currency(record.price, unit: "€", format: "%n %u") %>
          </td>
          <th>
            <button class="btn btn-ghost btn-xs">
              <%= link_to 'Details', record %>
            </button>
          </th>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>